/* style.css */

/* ===== Global ===== */
body {
    font-family: Arial, sans-serif;
    background-color: #F5F0E6;
    color: #4B3621;
    margin: 0;
    padding: 0;
}

/* ===== Header ===== */
header {
    background-color: #D9A066;
    padding: 20px;
    text-align: center;
}

/* Container logo + texte */
.logo-container {
    display: flex;
    align-items: center;
    justify-cont
